fieldset {
	border: 1px solid #337ab7 !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding-left: 10px !important;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 35%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 5px 10px;
	background: #337ab7;
	color: white;
	width: auto;
}

.margin-right-two {
	margin-right: 20px;
}

.clr {
	background: white;
}

.fieldset {
	border: 1px solid #337ab7;
}

.panel-heading b {
	color: steelblue;
}

.mandatory {
	color: red;
}

.steelblue {
	color: steelblue;
}

.green {
	color: green
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}

.white {
	color: white;
}

.noRightPadding {
	padding-right: 0px;
	margin-bottom: 1%;
}

.noPadding {
	padding: 0px;
}

.tablegrid {
	margin-top: 9px;
	margin-right: 0px;
	margin-left: 0px;
}

.rowheight {
	margin-top: 9px;
}

.drop-icon {
	color: white;
	margin-top: 6px;
	cursor: pointer;
}

.rightdel {
	margin-left: 8px;
}

.thead {
	background: #337ab7;
	color: white;
}

.selectfile {
	margin-right: -159px;
	border: none;
}

.zoom:hover {
	transform: scale(1.5);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom {
	transition: transform .2s; /* Animation */
	cursor: pointer;
	margin: 0 auto;
}

.pluse {
	font-size: 24px;
}

.textboxwidth {
	margin-right: -10%;
}

.div-inline {
	display: inline-block;
}

.line-height-25 {
	line-height: 25px;
}

.line-height-32 {
	line-height: 32px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.inline-combo {
	width: 79%;
	display: inline-block;
}

.lessPadding {
	padding: 6px;
}

.pointer {
	cursor: pointer
}

#tableListing {
	margin-bottom: 0px;
}

.panelHeading-height {
	height: 35px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-padding-bottom {
	padding-bottom: 0px;
}

.top-Padding-two {
	padding-top: 2px;
}

.border-radius-two {
	border-radius: 2px;
}

.navBarHeight {
	min-height: 40px;
}

/* dataTable css */
.selectedRow {
	background-color: #85c3fe !important;
	font-weight: bold;
	color: #000;
}

#viewTableListing tr:nth-child(even) {
	background: #FFF
}

#viewTableListing tr td {
	padding: 4px;
}

#viewTableListing tr:nth-child(odd) {
	background: #f2f2f2;
}

#viewTableListing tr:hover {
	background-color: #ddd;
	font-weight: bold;
}

#tableListing tr th .sorting:hover {
	background-color: #337AB7;
	font-weight: bold;
}

#tableListing tbody tr:hover {
	background-color: #ddd;
	font-weight: bold;
}

.margin-top-negative {
	margin-top: -8px;
}

.fixed-table {
	table-layout: fixed;
	word-wrap: break-word;
}

.print-margin {
	float: right;
	margin-right: 46px;
}

.panel-heading-fixed {
	position: fixed;
	z-index: 1;
	transform: translateY(-5px);
	width: 100%;
}

.navbar-top-fixed {
	position: fixed;
	z-index: 1;
	background-color: whitesmoke;
	width: 100%;
	box-shadow: 2px -1px 4px #dbdbdb;
}

.home-position-scroll {
	position: relative;
	top: 50px;
	overflow: hidden;
}

.nav-margin-top {
	float: right;
	margin-top: -15px;
}

.header-row {
	background-color: darkgray;
}

)

/* dataTable css end*/
.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}
/*table headers width*/
.th-5 {
	width: 5%;
}

.th-8 {
	width: 8%;
}

.th-10 {
	width: 10%;
}

.th-12 {
	width: 12%;
}

.th-13 {
	width: 13%;
}

.th-14 {
	width: 14%;
}

.th-15 {
	width: 15%;
}

.welcome {
	float: right;
	color: white;
}

.btn {
	margin-left: 7px;
}

.top-area {
	height: 13px;
	background-color: #1277b5;
}

.fa-fa-icon {
	color: #1277b5;
	font-size: 18px;
}


.navbar {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	border-radius: 0px;
}

.margintop {
	margin-top: 20px;
}

.navbar.navbar-default {
	margin-bottom: -1px;
}

.list-group-item:hover {
	background: #ddd;
	font: 17px 'MisoRegular';
}

@media print {
	a[href]:after {
		content: none !important;
	}
}

@page {
	size: auto;
	margin-top: 0mm;
	margin-bottom: 0mm;
}

/* Floting icon css by sandeep kumar 15/02/2019*/
.floting-icon-left {
	padding: 4px;
	width: 190px;
	position: fixed;
	right: -160px;
	z-index: 1000;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.floting-icon {
	font-size: 20px;
	color: #fff;
	padding: 10px 0;
	width: 40px;
	margin-left: 3px;
}

.floting-icon-left:hover {
	right: 0;
}

.floting-icon-left a {
	color: #fff !important;
	text-decoration: none;
	text-align: center;
	line-height: 43px !important;
	vertical-align: top !important;
}

.float-home {
	top: 270px;
	background: #E91E63;
	cursor: pointer;
}

.float-dashboard {
	top: 325px;
	background: #00BCD4;
	cursor: pointer;
}

.float-search {
	top: 380px;
	background: #8BC34A;
	cursor: pointer;
}

.float-refresh {
	top: 435px;
	background: #ff6c00;
	cursor: pointer;
}

.float-ig {
	top: 490px;
	background: aqua;
}

.float-pn {
	top: 545px;
	cursor: pointer;
}

.fa-text {
	color: white;
}

.nav-icon {
	padding: 4px !important;
}

li:hover {
	background-color: #ededed;
}

}
img {
	max-width: 100%;
}

/* hearder css */
.nav-icon {
	left: -100px;
}

.profileList {
	padding: 5px;
	border-bottom: 1px dotted gray;
}